@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    width: 1920px;
    height: 1080px;
    min-width: 1920px;
    min-height: 1080px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}

@layer components {
    #app {
        @apply overflow-hidden
    }
}